openapi: 3.0.1
info:
  title: AIHealth API
  description: This is a AIHealth server.
  contact: {}
  version: "1.0.0"
servers:
- url: http://aiwac.net:10086
- url: http://localhost:10086

tags:
- name: "accounts"
  description: "About accounts"
  externalDocs:
    description: "more"
    url: "http://swagger.io"

- name: "medicals"
  description: "About medicals"

- name: "mtrs"
  description: "About mtrs"
paths:
  /accounts:
    get:
      tags:
      - "accounts"
      summary: View users information
      description: View all users information
      responses:
        200:
          description: ""
          headers:
            user:
              description: User name
              schema:
                type: string
          content: {}
    post:
      tags:
      - "accounts"
      description: Add user detail information
      requestBody:
        description: Add account
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.User'
        required: true
      responses:
        200:
          description: ""
          content: {}
      x-codegen-request-body-name: account
  /accounts/{user_id}:
    delete:
      tags:
      - "accounts"
      description: Delete user by user_id
      parameters:
      - name: user_id
        in: path
        description: User Id
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content: {}
    put:
      tags:
      - "accounts"
      description: Update user by user_id
      parameters:
      - name: user_id
        in: path
        description: User Id
        required: true
        schema:
          type: string
      requestBody:
        description: Add account
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.User'
        required: true
      responses:
        200:
          description: ""
          content: {}
      x-codegen-request-body-name: account
  /accounts/id/{user_id}:
    get:
      tags:
      - "accounts"
      description: View users detail information with User ID
      parameters:
      - name: user_id
        in: path
        description: Account User ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          headers:
            user:
              description: User name
              schema:
                type: string
          content: {}
  /accounts/name/{name}:
    get:
      tags:
      - "accounts"
      description: View users detail information
      parameters:
      - name: name
        in: path
        description: Account Name
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          headers:
            user:
              description: User name
              schema:
                type: string
          content: {}
  /medicals:
    get:
      tags:
      - "medicals"
      description: View all medicals information
      responses:
        200:
          description: ""
          headers:
            medical:
              description: medical name
              schema:
                type: string
          content: {}
    post:
      tags:
      - "medicals"
      description: Add Medical detail information
      requestBody:
        description: Add Medical
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.Medical'
        required: true
      responses:
        200:
          description: ""
          content: {}
      x-codegen-request-body-name: medical

  /medicals/id/:medical_id:
    delete:
      tags:
      - "medicals"
      description: Delete medical detail information
      parameters:
      - name: medical_id
        in: path
        description: medical id
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content: {}
      x-codegen-request-body-name: mtr

    put:
      tags:
      - "medicals"
      description: Update Medical by user_id
      parameters:
      - name: medical_id
        in: path
        description: Medical id
        required: true
        schema:
          type: string
      requestBody:
        description: Update Medical
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.Medical'
        required: true
      responses:
        200:
          description: "Modified Successful"
          content: {}
      x-codegen-request-body-name: model.Medical
  /mtrs:
    get:
      tags:
      - "mtrs"
      description: View all MTR information
      responses:
        200:
          description: ""
          headers:
            mtrs:
              description: mtrs name
              schema:
                type: string
          content: {}
    post:
      tags:
      - "mtrs"
      description: Add MTR detail information
      requestBody:
        description: Add MTR
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.MedicalTreatmentRecord'
        required: true
      responses:
        200:
          description: ""
          content: {}
      x-codegen-request-body-name: mtr
  /mtrs/id/{mtr_id}:
    delete:
      tags:
      - "mtrs"
      description: Delete MTR detail information
      parameters:
      - name: mtr_id
        in: path
        description: mtr id
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content: {}
      x-codegen-request-body-name: mtr

    put:
      tags:
      - "mtrs"
      description: Update Mtr by user_id
      parameters:
      - name: mtr_id
        in: path
        description: Medical treatment record id
        required: true
        schema:
          type: string
      requestBody:
        description: Update Mtr
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.MedicalTreatmentRecord'
        required: true
      responses:
        200:
          description: "Modified Successful"
          content: {}
      x-codegen-request-body-name: model.MedicalTreatmentRecord

components:
  schemas:
    model.Book:
      type: object
      properties:
        author:
          type: string
        isbn:
          type: string
        language:
          type: string
        publisher:
          type: string
        rating:
          type: integer
        tags:
          type: string
        title:
          type: string
          example: Go in Action
        year:
          type: string
    model.Medical:
      type: object
      properties:
        bar_code:
          type: string
          example: "6935899801619"
        dosage_form:
          type: string
          example: 眼用制剂(滴眼剂)
        frequency:
          type: string
          example: 每日4次
        gyzz:
          type: string
          example: H20046681
        major_functions:
          type: string
          example: 异物感  眼疲劳  眼部干涩
        manufacturer:
          type: string
          example: 湖北远大天天明制药有限公司
        name:
          type: string
          example: 聚乙烯醇滴眼液 (瑞珠)
        packing_unit:
          type: string
          example: 盒
        prescription_only:
          type: boolean
          example: true
        price:
          type: number
          example: 58.16
        pzwh:
          type: string
          example: H20046681
        single_dose:
          type: string
          example: 0.2ml
        specification:
          type: string
          example: 0.8ml*25支
        usage:
          type: string
          example: 点双眼
        zczh:
          type: string
    model.MedicalTreatmentRecord:
      type: object
      properties:
        assessment:
          type: string
          example: 双眼视疲劳；双眼屈光不正；双眼干眼症
        attending_physician:
          type: string
          example: 孔炳华
        chief_complaint:
          type: string
          example: 双眼疲劳，干涩，一月有余
        date:
          type: string
          example: 2021-01-24 15:59
        depart:
          type: string
          example: 综合门诊
        history_of_present_illness:
          type: string
          example: 双眼干涩，畏光，异物感，一月有余
        hospital:
          type: string
          example: 中山大学眼科中心
        mtr_id:
          type: string
          example: mtr0001
        past_history:
          type: string
          example: 否认其他眼部疾病史，否认外伤史，否认手术史
        physical_exam:
          type: string
          example: 普通视力检查OU; 裂隙灯检查OU；小瞳验光(检影，云雾试验，试镜，主导眼检查)；眼底检查（直接眼底镜法）OU；非接触眼压计法（综合门诊）OU；
        prescription_id:
          type: string
        treatment_plan:
          type: string
        user_id:
          type: string
          example: "18717992222"
    model.User:
      type: object
      properties:
        abo:
          type: string
          example: B
        birth:
          type: string
          example: "2009-08-23"
        height:
          type: integer
          example: 170
        name:
          type: string
          example: Ryan
        occupation:
          type: string
          example: 程序员
        phone:
          type: string
          example: "18717992222"
        rh:
          type: boolean
          example: true
        sex:
          type: string
          example: 男
        updated:
          type: string
          example: 2021-03-30 15:59
        user_id:
          type: string
          format: string
          example: "18717992222"
        weight:
          type: integer
          example: 65
